@page "/counter"
@inject ICountTracker CountTracker
@using aoc2019.WebApp.Services;

<h1>Counter</h1>

<p>Current count: @CountTracker.Value</p>

<button class="btn btn-primary" @onclick="IncrementCount">Add @IncrementAmount</button>
<button class="btn btn-primary" @onclick="DecrementCount">Substract @IncrementAmount</button>

@code {
    //[Inject]
    //public ICountTrack CountTracker { get; set; }

    [Parameter] public int IncrementAmount { get; set; } = 1;

    private void IncrementCount() => CountTracker.Value += IncrementAmount;
    private void DecrementCount() => CountTracker.Value -= IncrementAmount;
}
