@using aoc2019.Puzzles
@using aoc2019.WebApp.Services
@inject ISolutionHandler SolutionHandler
@inject IInputHandler InputHandler
@page "/puzzle"
@page "/puzzle/{day}"

@if (SolutionMetadata == null)
{
    <h3>Puzzle @Day (no solution available)</h3>
}
else
{
    <h3>Puzzle @SolutionMetadata.Day</h3>
    <h4>Input:</h4>
    <pre>@Input</pre>
}

@code {
    [Parameter]
    public string Day { get; set; }

    public SolutionMetadata SolutionMetadata { get; private set; }

    private string Input { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (int.TryParse(Day, out var dayNumber) && SolutionHandler.Solutions.TryGetValue(dayNumber, out var solutionMetadata))
        {
            SolutionMetadata = solutionMetadata;
            Input = await InputHandler.GetInputAsync(solutionMetadata.Day);
        }
        else
        {
            SolutionMetadata = null;
        }
    }
}
